**/__pycache__
**/cell_gene_matrices
**/model_outputs
*.tif
*.pbs
*.csv
*.gz
**/check_cells.py
**/show_cells_by_id.py
**/check.py

!sc_breast.csv
!sc_breast_markers_neg.csv
!sc_breast_markers_pos.csv
.vscode/settings.json
data/dataset_xenium_breast1/all_gene_names.txt
