**/__pycache__
**/cell_gene_matrices
**/model_outputs
*.tif
*.pbs
*.csv
*.gz
*.zip
**/check_cells.py
**/show_cells_by_id.py
**/check.py
example_data/
data_large/
dist
params_small_example.yaml
*_example_config.yaml
example_large.py
pypi_token.txt

!morphology_mip_small.tif
!transcripts_small.csv
!sc_breast.csv
!sc_breast_markers_neg.csv
!sc_breast_markers_pos.csv
.vscode/settings.json
data/dataset_xenium_breast1/all_gene_names.txt
.pdm-python
get_markers.py
